.container {
  position: absolute;
  top: 5%;
  left: 2%;
  height: 75%;
  width: 84%;
  text-align: center;
  border-radius: 5%;
  padding: 3em;
  background-image: url('../resources/corkboard.jpeg');
  background-repeat: repeat;
  background-size: 20% 20%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
